<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<section>
    <%- body %>
</section>
<% include ../partials/footer %>
</body>
</html>